$text-color:                                      #ffffff;
$text-hover:                                      #27efac;
$separator:                                       #495566;
$menu-button:                                     #ffffff;

$secondary-button-bg:                             #1b2533;
$secondary-button-hover:                          #232f3d;
$secondary-button-text:                           #27efac;

$header-bg:                                       #232f3d;
$header-text-active:                              rgba(255, 255, 255, 0.5);
$header-stats-bg:                                 #1b2533;

$main-component-game-bg:                          #232f3d;
$main-component-game-hover:                       #2b3847;
$main-component-stats-bg:                         #1b2533;
$main-component-stats-nav-element-text:           rgba(255, 255, 255, 0.5);
$main-component-stats-nav-element-active:         #27efac;
$main-component-stats-nav-element-active-border:  #27efac;
$main-component-stats-table-row-2n-bg:            #232f3d;
$main-component-stats-table-profit-minus:         #ff4060;
$main-component-stats-table-profit-plus:          #27efac;

$footer-bg:                                       #141c29;

$flip-coin-bg:                                    #232f3d;
